appointment/ClientServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://resource.appointment.fws.com.br/" name="ClientServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://resource.appointment.fws.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://resource.appointment.fws.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="Authorization" nillable="true" type="xs:string"/>

      <xs:element name="Exception" type="tns:Exception"/>

      <xs:element name="GetAllClients" type="tns:GetAllClients"/>

      <xs:element name="GetAllClientsResponse" type="tns:GetAllClientsResponse"/>

      <xs:element name="GetClient" type="tns:GetClient"/>

      <xs:element name="GetClientByFilter" type="tns:GetClientByFilter"/>

      <xs:element name="GetClientByFilterResponse" type="tns:GetClientByFilterResponse"/>

      <xs:element name="GetClientResponse" type="tns:GetClientResponse"/>

      <xs:element name="Register" type="tns:Register"/>

      <xs:element name="RegisterResponse" type="tns:RegisterResponse"/>

      <xs:element name="Token" nillable="true" type="xs:string"/>

      <xs:element name="client" type="tns:client"/>

      <xs:element name="clientList" type="tns:clientList"/>

      <xs:complexType name="GetClientByFilter">
        <xs:sequence>
          <xs:element name="ClientData" type="tns:client" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="client">
        <xs:sequence>
          <xs:element name="active" type="xs:boolean" minOccurs="0"/>
          <xs:element name="clientId" type="xs:string" minOccurs="0"/>
          <xs:element name="clientName" type="xs:string" minOccurs="0"/>
          <xs:element name="createdDate" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetClientByFilterResponse">
        <xs:sequence>
          <xs:element name="Clients" type="tns:clientList" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="clientList">
        <xs:sequence>
          <xs:element name="Client" type="tns:client" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetAllClients">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="GetAllClientsResponse">
        <xs:sequence>
          <xs:element name="Clients" type="tns:clientList" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetClient">
        <xs:sequence>
          <xs:element name="ClientFilter" type="tns:client" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetClientResponse">
        <xs:sequence>
          <xs:element name="Client" type="tns:client" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Register">
        <xs:sequence>
          <xs:element name="ClientData" type="tns:client" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="RegisterResponse">
        <xs:sequence>
          <xs:element name="SuccessConfirm" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="GetClientByFilter">
    <part name="parameters" element="tns:GetClientByFilter"/>
  </message>
  <message name="GetClientByFilterResponse">
    <part name="parameters" element="tns:GetClientByFilterResponse"/>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception"/>
  </message>
  <message name="Register">
    <part name="parameters" element="tns:Register"/>
    <part name="Token" element="tns:Token"/>
  </message>
  <message name="RegisterResponse">
    <part name="result" element="tns:RegisterResponse"/>
  </message>
  <message name="AuthorizationException">
    <part name="fault" element="tns:Authorization"/>
  </message>
  <message name="GetAllClients">
    <part name="parameters" element="tns:GetAllClients"/>
  </message>
  <message name="GetAllClientsResponse">
    <part name="parameters" element="tns:GetAllClientsResponse"/>
  </message>
  <message name="GetClient">
    <part name="parameters" element="tns:GetClient"/>
  </message>
  <message name="GetClientResponse">
    <part name="parameters" element="tns:GetClientResponse"/>
  </message>
  <portType name="ClientService">
    <operation name="GetClientByFilter">
      <input wsam:Action="http://resource.appointment.fws.com.br/ClientService/GetClientByFilterRequest" message="tns:GetClientByFilter"/>
      <output wsam:Action="http://resource.appointment.fws.com.br/ClientService/GetClientByFilterResponse" message="tns:GetClientByFilterResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://resource.appointment.fws.com.br/ClientService/GetClientByFilter/Fault/Exception"/>
    </operation>
    <operation name="Register" parameterOrder="parameters Token">
      <input wsam:Action="http://resource.appointment.fws.com.br/ClientService/RegisterRequest" message="tns:Register"/>
      <output wsam:Action="http://resource.appointment.fws.com.br/ClientService/RegisterResponse" message="tns:RegisterResponse"/>
      <fault message="tns:AuthorizationException" name="AuthorizationException" wsam:Action="http://resource.appointment.fws.com.br/ClientService/Register/Fault/AuthorizationException"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://resource.appointment.fws.com.br/ClientService/Register/Fault/Exception"/>
    </operation>
    <operation name="GetAllClients">
      <input wsam:Action="http://resource.appointment.fws.com.br/ClientService/GetAllClientsRequest" message="tns:GetAllClients"/>
      <output wsam:Action="http://resource.appointment.fws.com.br/ClientService/GetAllClientsResponse" message="tns:GetAllClientsResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://resource.appointment.fws.com.br/ClientService/GetAllClients/Fault/Exception"/>
    </operation>
    <operation name="GetClient">
      <input wsam:Action="http://resource.appointment.fws.com.br/ClientService/GetClientRequest" message="tns:GetClient"/>
      <output wsam:Action="http://resource.appointment.fws.com.br/ClientService/GetClientResponse" message="tns:GetClientResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://resource.appointment.fws.com.br/ClientService/GetClient/Fault/Exception"/>
    </operation>
  </portType>
  <binding name="ClientServicePortBinding" type="tns:ClientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="GetClientByFilter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="Register">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:Register" part="Token" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthorizationException">
        <soap:fault name="AuthorizationException" use="literal"/>
      </fault>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetAllClients">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="GetClient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ClientServiceService">
    <port name="ClientServicePort" binding="tns:ClientServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

